<!DOCTYPE html>
<html>
<head>
    <title>My Page</title>
</head>
<body>
    <h1>Sun Wenjing 01115</h1>
    <br>
    <img src="{{ img_url }}" alt="Search Result" width="300">
    <br>
    <form>
        <label for="zipFile">Choose a zip file:</label>
        <input type="file" id="zipFile" name="zipFile" accept=".zip">
        <input type="button" value="upload">
    </form>
    <h3>Search by Name</h3>
    <form action="/search_by_name" method="post">
        <input type="text" name="Name" placeholder="Enter Name">
        <input type="submit" value="Search">
    </form>
    <h3>Search by Name</h3>
    <form action="/search_by_salary" method="post">
        <input type="text" name="Start_salary" placeholder="Enter Start salary">
        <input type="text" name="End_salary" placeholder="Enter End salary">
        <input type="submit" value="Search">
    </form>
    <h3>Search by Name</h3>
    <form action="/update_user" method="post">
        <input type="text" name="Name" placeholder="Enter Name">
        <input type="text" name="State" placeholder="Enter State">
        <input type="text" name="Salary" placeholder="Enter Salary">
        <input type="text" name="Grade" placeholder="Enter Grade">
        <input type="text" name="Room" placeholder="Enter Room">
        <input type="text" name="Telnum" placeholder="Enter Telnum">
        <input type="text" name="Keywords" placeholder="Enter Keywords">
        <input type="submit" value="Search">
    </form>
    <h3>Search by Name</h3>
    <form action="/delete_user" method="post">
        <input type="text" name="Name" placeholder="Enter Name">
        <input type="submit" value="DELETE">
    </form>

</body>

</html>
