<!DOCTYPE html>
<html>
<head>
    <title>Search Results</title>
</head>
<body>
    <h1>Search Results</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Picture</th>
            </tr>
        </thead>
        <tbody>
            {% for row in result %}
                <tr>
                    <td>{{ row['name'] }}</td>
                    <td>{{ row['descript'] }}</td>
                    <td><img src="{{ img_url }}" alt="'no information or picture available'" width="300"></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>